@model MarcouEvento.Application.InputModels.EditAddressInputModel;

@{
    ViewData["Title"] = "Registro de Endereço";
}

<style>
    .in-line-block {
        display: inline-block;
    }

    .in-line-flex {
        display: inline-flex;
    }

    .center-buttons {
        text-align: center;
    }

    .m-l-1 {
        margin-left: 1rem;
    }
</style>

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit" method="post">
    <div class="form-horizontal">
        <hr />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row g-2">
            <div class="form-floating mb-3 col-md-3 in-line-block">
                <input asp-for="ZipCode" class="form-control" placeholder="" />
                <label asp-for="ZipCode"></label>
                <span asp-validation-for="ZipCode" class="text-danger zipCode-mensage"></span>
            </div>

            <div class="form-floating mb-3 col-md-3 in-line-block">
                <input asp-for="State" class="form-control" placeholder="s" />
                <label asp-for="State"></label>
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3 col-md-6 in-line-block">
                <input asp-for="City" class="form-control" placeholder="s" />
                <label asp-for="City"></label>
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
        </div>

        <div class="border border-secondary-subtle p-1 mb-3">
            <div class="row mt-1">
                <div class="col-12 mb-3">
                    <div class="form-group center-buttons">
                        @foreach (var typeOption in Model.TypeOptions)
                        {
                            <input type="radio" class="btn-check" onclick="formatTypeAddress(this)" name="Type" id="Type_@typeOption.Value" autocomplete="off" value="@typeOption.Value" @typeOption.IsSelected: checked>
                            <label class="btn btn-outline-primary" for="Type_@typeOption.Value">@typeOption.Description</label>
                        }
                    </div>
                </div>
            </div>

            <div class="address mt-1" style="display:none;">
                <div class="row g-2">
                    <div class="form-floating mb-3 col-md-5 in-line-block">
                        <input asp-for="Neighborhood" class="form-control" placeholder="" />
                        <label asp-for="Neighborhood"></label>
                        <span asp-validation-for="Neighborhood" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3 col-md-6 in-line-block">
                        <input asp-for="Street" class="form-control" placeholder="" />
                        <label asp-for="Street"></label>
                        <span asp-validation-for="Street" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3 col-md-1 in-line-block">
                        <input asp-for="Number" class="form-control" placeholder="" />
                        <label asp-for="Number"></label>
                        <span asp-validation-for="Number" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="address-rural-4" style="display:none;">
                <div class="row g-2">
                    <div class="form-floating mb-3 col-md-6 in-line-block">
                        <input asp-for="Latitude" class="form-control" placeholder="" />
                        <label asp-for="Latitude"></label>
                        <span asp-validation-for="Latitude" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3 col-md-6 in-line-block">
                        <input asp-for="Longitude" class="form-control" placeholder="" />
                        <label asp-for="Longitude"></label>
                        <span asp-validation-for="Longitude" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>


        <div class="row g-2">
            <div class="form-floating mb-3 col-md-12 in-line-flex">
                <input asp-for="UrlMaps" class="form-control" placeholder="" onchange="habilitaBtnUrlMaps(this)" />
                <label asp-for="UrlMaps"></label>
                <span asp-validation-for="UrlMaps" class="text-danger"></span>
                <button type="button" class="btn btn-info m-l-1" style="width:50px;" id="openUrlMaps" onclick="openUrl()">
                    <i class="fa-solid fa-location-dot"></i>
                </button>
            </div>
        </div>

        <div class="row g-2">
            <div class="form-floating mb-3 col-md-12 in-line-block">
                <textarea asp-for="Complement" class="form-control" placeholder=""></textarea>
                <label asp-for="Complement"></label>
                <span asp-validation-for="Complement" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row g-2">
        <button type="submit" class="btn btn-primary">Registrar</button>
    </div>
</form>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
        const checks = Array.from(document.getElementsByClassName("btn-check"));
        checks.forEach((check) => {
            if(check.checked) {formatTypeAddress(check)};
        });
    });

    // Adiciona evento de input ao campo CEP
    // document.getElementById('ZipCode').addEventListener('input', function() {
    //   mascaraCep(this);
    // });

    /**
    * Formata Campos
    *
    * @@param {HTMLInputElement} element - Descrição de possíveis exceções lançadas
    */
    function formatTypeAddress(element){
        const dadosAddress = document.getElementsByClassName("address")[0];
        const dadosAddressRural = document.getElementsByClassName("address-rural-4")[0];

        switch(Number(element.value)){
            case 4:
                dadosAddress.style.display = "none";
                dadosAddressRural.style.display = "block";

                break;
            default:
                dadosAddress.style.display = "block";
                dadosAddressRural.style.display = "none";
        }
    };

    function openUrl(){
        const url = document.getElementById('UrlMaps').value.trim();

        if(url){
            window.open(url, '_blank');
        }
    };

    /**
    *
    *
    * @@param {HTMLInputElement} element - Descrição de possíveis exceções lançadas
    */
    function habilitaBtnUrlMaps(element){
        const url = element.value;
        const btnUrl = document.getElementById('openUrlMaps');
        if(url){
            let formattedUrl = url;
            if (!url.startsWith('http://') && !url.startsWith('https://')) {
                btnUrl.setAttribute('disabled', true);
            }else{
                btnUrl.removeAttribute('disabled');
            }
        }else{
            btnUrl.setAttribute('disabled', true);
        };
    };
</script>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
        const zipCode = document.getElementById("ZipCode");
        mascaraCep(zipCode)

        // Consulta o CEP quando sair do campo (se tiver 8 dígitos)
        zipCode.addEventListener('blur', async function() {
            if (this.value.length === 8) {
                try {
                    // Aguarda a conclusão da consulta
                    const dataViaCep = await consultarCEP(zipCode);
                    // Só chama a função quando os dados estiverem disponíveis
                    setDadosViaCep(dataViaCep);
                } catch (error) {
                    console.error("Erro ao consultar CEP:", error);
                }
            }

            mascaraCep(this);
        });
    });

        /**
        * Aplica máscara de CEP ao campo input
        *
        * @@param {HTMLInputElement} input - O elemento input para aplicar a máscara
        * @@returns {void}
        */
    function mascaraCep(input) {
        // Remove todos os caracteres não numéricos
        let valor = input.value.replace(/\D/g, '');

        // Limita a 8 dígitos
        valor = valor.substring(0, 8);

        // Aplica a máscara 00000-000
        if (valor.length > 5) {
            valor = valor.replace(/^(\d{5})(\d{1,3}).*/, '$1-$2');
        }

        // Atualiza o valor no campo
        input.value = valor;
    }

    function setDadosViaCep(data){
        // Preenche os campos com os dados retornados
        document.getElementById("Street").value = data.logradouro;
        document.getElementById("Neighborhood").value = data.bairro;
        document.getElementById("City").value = data.localidade;
        document.getElementById("State").value = data.uf;
        document.getElementById("Complement").innerHTML = data.complemento || '';
    };
</script>